## Question:- 

Consider a DataFrame df where there is an integer column 'X':<br>
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})<br>
For each value, count the difference back to the previous zero (or the start of the Series, whichever is closer).<br>
These values should therefore be [1, 2, 0, 1, 2, 3, 4, 0, 1, 2]. Make this a new column 'Y'.<br>

## Solutions :-

In [2]:
import numpy as np
import pandas as pd

In [13]:
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})
mylist = []
count = 0
for index, row in df.iterrows():
    if row['X'] == 0:
        count = 0
    else:
        count += 1
    mylist.append(count)

df['Y'] = mylist
df

   X  Y
0  7  1
1  2  2
2  0  0
3  3  1
4  4  2
5  2  3
6  5  4
7  0  0
8  3  1
9  4  2